* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
}

*::-moz-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
}

/**********LOG IN ************/
main {
    padding: 120px 10px 0 10px;
    height: auto;
    background-image: linear-gradient(to right bottom,rgba(4,43,84,.9),rgba(4,43,84,.9)),
        url("https://res.cloudinary.com/greenmouse-tech/image/upload/v1669646604/lazreb/login_p6smcr.jpg");
    /* background-position: center right; */
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width:992px) {
    main{
        padding: 120px 20px 0 20px;
    }
    main .form-sec {
        padding: 30px 20px !important;
        background-color: #ffffff;
    }
}

.login-main {
    height: 100vh;
}
main .form-sec {
    width: 100%;
    border-radius: 10px;
    padding: 30px 25px 20px 25px;
    background-color: #ffffff;
}

main .form-sec img {
    width: 80px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

main .form-sec h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

main .form-sec p {
    text-align: center;
    font-size: 15px;
}

main .form-sec .line-rule {
    margin: auto;
    width: 50px;
    height: 2px;
    background-color: #296bac;
}

main .form-sec form {
    margin-top: 20px;
    margin-bottom: 10px;
}

main .form-sec form label {
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 500;
    margin-top: 15px;
}

main .form-sec form input,
main .form-sec form select {
    width: 100%;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    clear: both;
}

main .form-sec form select option {
    font-size: 17px;
    font-weight: 500;
}

main .form-sec form input:focus,
main .form-sec form select:focus {
    outline: none;
    border: 1.5px solid #296bac;
}

main .form-sec form input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 300;
}

main .form-sec form input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 300;
}

main .form-sec form input::placeholder {
    font-size: 14px;
    font-weight: 300;
}


main .form-sec form .forgot {
    float: right;
    margin-top: -25px;
    font-size: 14px;
    color: #296bac;
    text-decoration: none;
}

main .form-sec form .toggle-password {
    float: right;
    position: relative;
    top: -28px;
    right: 15px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    margin-bottom: -40px;
}

main .form-sec form button {
    width: 100%;
    text-align: center;
    background-color: #296bac;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 30px;
}

main .form-sec form button:hover {
    background-color: #1d4a77;
    transition: 0.5s;
}

main .form-sec .alt-opt {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

main .form-sec .alt-opt a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

main .form-sec .alt-opt a:hover {
    text-decoration: underline;
}

/**********LOG IN ************/

/**********Sign Up ************/
section {
    padding: 10px 10px 0 10px;
    height: auto;
    background-image: linear-gradient(to right bottom,rgba(4,43,84,.6),rgba(4,43,84,.9)),
        url("https://res.cloudinary.com/greenmouse-tech/image/upload/v1669651462/lazreb/register_fhr2vv.jpg");
    background-position: center right;
    background-size: cover;
}
@media (max-width:992px) {
    section{
        padding: 50px 20px 20px 20px;
    }
    section .form-sec {
        padding: 30px 20px !important;
        background-color: #ffffff;
    }
}
section .form-sec {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
    padding: 30px 25px 10px 25px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

section .form-sec img {
    width: 80px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

section .form-sec h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

section .form-sec p {
    text-align: center;
    font-size: 15px;
}

section .form-sec .line-rule {
    margin: auto;
    width: 50px;
    height: 2px;
    background-color: #296bac;
}

section .form-sec form {
    margin-top: 20px;
    margin-bottom: 10px;
}

section .form-sec form label {
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 500;
    margin-top: 15px;
}

section .form-sec form input,
section .form-sec form select {
    width: 100%;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    clear: both;
}

section .form-sec form select{
    font-size: 14px;
    font-weight: 300;
}

section .form-sec form select option {
    font-size: 14px;
    color: #a8a8a8;
    font-weight: 500;
}

section .form-sec .text{
    font-size: 14px;
    text-align: left;
}

section .form-sec form input:focus,
section .form-sec form select:focus {
    outline: none;
    border: 1.5px solid #296bac;
}

section .form-sec form input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 300;
}

section .form-sec form input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 300;
}

section .form-sec form input::placeholder {
    font-size: 14px;
    font-weight: 300;
}


section .form-sec form .forgot {
    float: right;
    margin-top: -25px;
    font-size: 14px;
    color: #296bac;
    text-decoration: none;
}

section .form-sec form .toggle-password {
    float: right;
    position: relative;
    top: -28px;
    right: 15px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    margin-bottom: -40px;
}

section .form-sec form button {
    width: 100%;
    text-align: center;
    background-color: #296bac;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 30px;
}

section .form-sec form button:hover {
    background-color: #1d4a77;
    transition: 0.5s;
}

section .form-sec .alt-opt {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

section .form-sec .alt-opt a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

section .form-sec .alt-opt a:hover {
    text-decoration: underline;
}

/**********LOG IN ************/